<div style="text-align:left;border:2px solid red;margin-top: 50px;padding-left: 9px;">

<p>
  <strong>Question:</strong>
  <%= @post.ime %>
</p>

<p>
  <strong>Details:</strong>
  <%= @post.opis %>
</p>
<p>
  <strong>Asker:</strong>
  <%= @post.user.name %>
</p>

<%= show_edit_button(@post) %> |
<%= link_to 'Back', posts_path %>
</div>
<%= commontator_thread(@post) %>
